@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-4">
        <div class="row">
            <img src="~/Images/foto_resume.jpg" />
        </div>
        <div class="row mt-lg-5">
            <a href="www.linkedin.com/in/braianpavanelli" title="Veja o meu Perfil público no LinkedIn">
                <img src="~/Images/linkedin.jpg" alt="Perfil LinkedIn" style="width: 100%" />
            </a>
        </div>
    </div>
    <div class="col-2">
    </div>
    <div class="col-6">
        <div class="row text-center">
            <h1>Braian Renan Pavanelli Costa</h1>
        </div>
        <div class="row text-center">
            <p style="padding-right: 74px;padding-left: 15px;">
                Brasileiro, casado, 27 anos.
                Rua Gavião Peixoto, 749 – Bl 08 Ap. 403, Jd. Quitandinha
                Araraquara - SP
                Telefone: (16)9.9783-3191 / (11)9.8778-0014
                E-mail: braian.pavanelli@yahoo.com.br
            </p>
        </div>
        <br />
        <div class="row text-left">
            <h4>OBJETIVO PESSOAL</h4>
            <hr />
        </div>
        <div class="row text-left">
            <ul>
                <li>
                    Crescimento profissional e pessoal. Novas oportunidades e conquistas cada vez
                    maiores.
                </li>
            </ul>
        </div>
        <br />
        <div class="row text-left">
            <h4>FORMAÇÃO</h4>
            <hr />
        </div>
        <div class="row text-left">
            <ul>
                <li>
                    Graduado em Processamento de Dados – FATEC 2013
                </li>
            </ul>
        </div>
        <br />
        <div class="row text-left">
            <h4>HABILIDADES PROFISSIONAIS E PESSOAIS</h4>
            <hr />
        </div>
        <div class="row text-left">
            <ul>
                <li>
                    RELACIONAMENTO E COMUNICAÇÃO INTERPESSOAL
                </li>
                <li>
                    DEDICADO
                </li>
                <li>
                    GESTÃO DE PESSOAS
                </li>
                <li>
                    GESTÃO ADMINISTRATIVA
                </li>
            </ul>
        </div>
        <br />
        <div class="row text-left">
            <h4>IDIOMAS</h4>
            <hr />
        </div>
        <div class="row text-left">
            <ul>
                <li>
                    Inglês Avançado
                    <ul>
                        <li>
                            6 anos na Escola de Idiomas CCAA – Araraquara
                        </li>
                        <li>
                            Uso contínuo com clientes e viagem ao exterior
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <br />
        <div class="row text-left">
            <h4>EXPERIÊNCIA PROFISSIONAL</h4>
            <hr />
        </div>
        <div class="row text-left">
            <ul>
                <li>
                    Programmers - Analista Desenvolvedor Pleno. (De 26/01/2015 à 21/08/2015)
                    <ul>
                        <li>
                            Atividades: Desenvolvimento de Projetos em ASP.NET C#, Suporte e
                            desenvolvimento em sistemas novos e antigos. Levantamento de Requisitos e
                            reuniões com o cliente diariamente tanto online quanto presencial. Cliente
                            Americano Press Ganey alocado em Matão/SP.
                        </li>
                    </ul>
                </li>
                <li>
                    Capgemini CPM Braxis - Analista de Sistemas .NET Pleno. (De 15/09/2014 à
                    02/02/2015)
                    <ul>
                        <li>
                            Atividades: Desenvolvimento de Projetos em ASP.NET C#, responsável por
                            sistema gestor de carreiras e outros sistemas da Secretaria da Fazenda do
                            Estado de São Paulo. Alocado no cliente em São Paulo (Centro - Sé)
                        </li>
                    </ul>
                </li>
                <li>
                    Mazzatech – Analista de Sistemas .NET Pleno. (De 18/11/2013 à 18/04/2014)
                    <ul>
                        <li>
                            Atividades: Desenvolvimento de Projetos em ASP.NET C#, Ponto Focal de
                            pequena equipe. Alocado no cliente Tel Telecomunicações em São Paulo
                            (Barra Funda).
                        </li>
                    </ul>
                </li>
                <li>
                    FCamara – Analista de Sistemas .NET Pleno. (De 03/06/2013 à 18/10/2013)
                    <ul>
                        <li>
                            Atividades: Projeto Pontual em ASP.NET MVC C# alocado no cliente
                            Magazine Luiza.
                        </li>
                    </ul>
                </li>
                <li>
                    Hewlett Packard Enterprise Services (HP) – Analista de Sistemas (Trainee). (De
                    01/11/2011 à 06/05/2013)
                    <ul>
                        <li>
                            Atividades: Manutenção e melhorias em sistemas ASP.NET C# para os clientes
                            NET e Itaú BBA (.NET Framework 2.0 e 3.5).
                        </li>
                    </ul>
                </li>
                <li>
                    Chilli Comunicação e Propaganda LTDA – Desenvolvedor WEB. (De 05/2011 à 07/2011)
                    <ul>
                        <li>
                            Atividades: Desenvolvimento de Sites e Aplicações WEB (ASP.NET C#, MySQL,
                            Entity Framework, .NET Framework 3.5 e 4.0) Análise completa dos sistemas.
                        </li>
                    </ul>
                </li>
                <li>
                    A&R System Mobile LTDA – Programador Junior. (De 03/2008 à 07/2010)
                    <ul>
                        <li>
                            Atividades: Programador WEB (C#, HTML, CSS, jQuery e SQL) Ênfase em
                            front-end
                        </li>
                    </ul>
                </li>
        </div>
        <br />
        <div class="row text-left">
            <h4>CURSOS</h4>
            <hr />
        </div>
        <div class="row text-left">
            <ul>
                <li>
                    Microsoft Student to Business – WEB (2010)
                </li>
                <li>
                    SCRUM – 16 horas - FCamara (2013)
                </li>
                <li>
                    SCRUM – Minicurso 8 horas – USP-ICMC São Carlos (2010)
                </li>
                <li>
                    Action Script 3.0 - Minicurso 8 horas – USP-ICMC São Carlos (2010)
                </li>
                <li>
                    Treinamento Básico de JAVA – 120 horas – CAST-INFORMÁTICA (2011)
                </li>
            </ul>
        </div>
        <br />
        <div class="row text-left">
            <h4>EXTRACURRICULARES</h4>
            <hr />
        </div>
        <div class="row text-left">
            <ul>
                <li>
                    Professor convidado para ministrar o curso de desenvolvimento WEB C# com acesso a
                    dados via Entity Framework 5.0 Code-first e Model-first na USP-ICMC São Carlos na
                    16ª SEMCOMP - 2013 em SET/2013 (8 horas).
                </li>
            </ul>
        </div>
        <br />
        <div class="row text-left">
            <h4>VIAGEM INTERNACIONAL</h4>
            <hr />
        </div>
        <div class="row text-left">
            <ul>
                <li>
                    SOUTH BEND,IN E CHICAGO,IL (EUA) MAIO/2015
                </li>
            </ul>
        </div>
        <br />
    </div>
</div>
<p><a href="@Url.Action("Index", "Home") " class="btn btn-primary btn-lg">&laquo Voltar;</a></p>

